<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210646773748-9mm7e499t26i33ln8vjo29j9q2dlvbeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210646773748-9mm7e499t26i33ln8vjo29j9q2dlvbeu</string>
	<key>API_KEY</key>
	<string>AIzaSyAeq__tOK-nQQ_uTpW9BXFM2kMfuP7bcfw</string>
	<key>GCM_SENDER_ID</key>
	<string>210646773748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZhingelStas.StudyCards</string>
	<key>PROJECT_ID</key>
	<string>studycards-54736</string>
	<key>STORAGE_BUCKET</key>
	<string>studycards-54736.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210646773748:ios:8cf358f653c630cad013a1</string>
</dict>
</plist>